[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ramdisk
Comment=Create cache folders for browsers
Exec=mkdir /media/BrowserCache/chrome /media/BrowserCache/chromium /media/BrowserCache/brave
StartupNotify=false
Terminal=false
Hidden=false
